* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232529;
  color: aliceblue;
  justify-content: center;
  display: flex;
}

.conteiner {
  /* background-color: blue; */
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: auto;
}

.min-st {
  border-radius: 5px;
  height: 2em;

  border: 1px solid #c6d9ff;
  margin-bottom: 2%;
}

#create {
  background: none;
  color: #c6d9ff;
}

li {
  background-color: aliceblue;
  color: #232529;
  list-style: none;
  border: 1px solid #c6d9ff;
  display: flex;
  justify-content: space-between;
}


.btn-status {
  border-radius: 3px;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  color: aliceblue;
  align-content: center;
}



.pading {
  padding: 1%;
}

.btn {
  cursor: pointer;
}
.text-decoration-line-trought {
  text-decoration: line-through;
}

}
#filter{
  padding: 1px 5px;
}
